.digital{
    font-family: DigitalBold, serif;
    font-size: 4em;
    color: rgb(0, 0, 0);
}

.digital-large{
    font-family: DigitalBold, serif;
    font-size: 6em;
    color: rgb(0, 0, 0);
}

.digital-medium{
    font-family: DigitalBold, serif;
    font-size: 4em;
    color: rgb(0, 0, 0);
}

